.contenedor{
    color: white;
    border: none;
  
}
.contenedor1{
    z-index: 3;
}
.cartFondo{
    height: 500px;
    width: 1000px;
    border: solid 1px;
    align-items: center;
    border-radius: 10px;
    background: rgba(42, 41, 41, 0.8);
}
.cartFondo1{
    height: 450px;
    width: 950px;
    border: solid 1px ;
    margin: 2.5%;
    border-radius: 10px;
    background: rgb(53, 52, 52,);
   
}
.tPrice{
    color: white;
    font-size: 25px;
}