.contenedor{
  color: white;
  text-align: center;
  margin: auto;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.padre{
  margin-top: 10%;
}
.vacio{
  margin: 10px;
  font-size: 19px;
}
.inicio{
  border: none;
  background: none;
  border-bottom: solid 1px;
  color: white;
  font-size: 13px;
}
.inicio:hover{
  color:aquamarine;
  transition: .5s;
}
.contenedor1{
  padding-top: 10px;
}

.tPrice{
  color: white;
  font-size: 25px;
}
.btn{
  border: none;
  margin: 10px;
  font-size: 15px;
  background: none;
  color: white;

}

