.cart{
  color: white;
  margin-right: 15px;
  font-size: 30px;
  position: relative;
}
.cart:hover{
  color:rgb(0, 51, 255);
  transition: .6;
}
.cont{
  font-size: 15px;
  color: white;
  text-align: center;
  margin-right: 10px;
}
.CartWidget{
  opacity: .8;
  transition: .5s;
}
.CartWidget:hover{
  opacity: 1;
}
.CartWidget1{
  opacity: .2;
}
