.botonSeguir{
    color: white;
    border: solid 1px;
    background: none;
    padding: 3px;
    cursor: pointer;
}
.botonFin{
    color: white;
    background: none;
    border: solid 1px;
    padding: 3px;
    cursor: pointer;
}

.botonSeguir:hover{
    background-color: black;
    opacity: .6;
    border: solid .5px black;
    transition: .4s;
    
}
.botonFin:hover{
    background-color: black;
    opacity: .6;
    border: solid .5px black;
    transition: .4s;
}